@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
}

.wrapper{
    padding: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper .form-container{
    padding: 30px;
    width: 340px;
    background: #FFF;
    border-radius: 7px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper .form-container h3{
    color: #5a1b2f;
    padding: 5px;
    margin-top: 35px;
    font-size: 32px;
    letter-spacing: 2px;
}

.wrapper .form-container p{
    display: inline-block;
    font-size: 15px;
    color: #555;
}

.wrapper .sign-in .username,
.wrapper .sign-in .password,
.wrapper .sign-up div{
    height: 45px;
    width: 100%;
    border: 1px solid #7D354C;
    border-radius: 3px;
    margin-top: 15px;
}

.wrapper .sign-in .username,
.wrapper .sign-up .username{
    margin-top: 30px;
}


.wrapper .sign-in .username input,
.wrapper .sign-in .password input,
.wrapper .sign-up div input{
    all: unset;
    height: 42px;
    width: 100%;
    padding-left: 15px;
}

.wrapper .sign-in .username label,
.wrapper .sign-in .password label,
.wrapper .sign-up div label{
    position: relative;
    top: -32px;
    left: 15px;
    transition: all .2s;
    font-size: 15px;
}

.sign-in .username input:focus ~ #signin-username-label,
.sign-in .username input:valid ~ #signin-username-label,
.sign-in .password input:focus ~ #signin-password-label,
.sign-in .password input:valid ~ #signin-password-label{
    top: -55px;
    font-size: 12px;
    transition: all .2s;
    background: #FFF;
    padding: 2px;
}

.sign-up div input:focus ~ label,
.sign-up div input:valid ~ label{
    top: -55px;
    font-size: 12px;
    transition: all .2s;
    background: #FFF;
    padding: 2px;
}

.wrapper .sign-in .password input::-ms-reveal,
.wrapper .sign-up .password input::-ms-reveal,
.wrapper .sign-up .confirm-password input::-ms-reveal{
    display: none;
}

.wrapper .sign-in .frgt-pass{
    font-size: 13px;
    position: relative;
    top: 5px;
}

.wrapper .sign-in .login-btn,
.wrapper .sign-up .signup-btn{
    all: unset;
    height: 40px;
    width: 100%;
    background:#D8AEAE;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-radius: 3px;
    cursor: pointer;
}

.wrapper .sign-in .dnt-have-account,
.wrapper .sign-up .alrd-have-account{
    text-align: center;
    font-size: 12px;
    margin-top: 15px;
}

.wrapper .sign-in .dnt-have-account span,
.wrapper .sign-up .alrd-have-account span{
    color: #7D354C;
    text-decoration: underline;
    cursor: pointer;
}

.wrapper .sign-up h3{
    margin-top: 10px;
}

.wrapper .sign-in{
    z-index: 1;
}

.wrapper .sign-up{
    transform: translate(-50%, -50%) rotate(7deg);
}

.wrapper.animated-signin .sign-in{
    animation: signin 1s ease-in-out forwards;
}

.wrapper.animated-signup .sign-up{
    animation: signup 1s ease-in-out forwards;
}

.wrapper.animated-signin .sign-up{
    animation: rotate-card .7s ease-in-out forwards;
}

.wrapper.animated-signup .sign-in{
    transform: translate(-50%, -50%) rotate(7deg);
    animation: rotate-card-signin .7s ease-in-out forwards;
    animation-delay: .3s;
} 

@keyframes signin{
    0%{
        transform: translate(-50%, -50%) translateX(0);
    } 50%{
        transform: translate(-50%, -50%) translateX(-25rem)
    } 100%{
        transform: translate(-50%, -50%) translateX(0) rotate(7deg) scale(1);
    }
}

@keyframes signup{
    0%{
        transform: translate(-50%, -50%) translateX(0);
        z-index: 1;
    } 50%{
        transform: translate(-50%, -50%) translateX(25rem)
    } 100%{
        transform: translate(-50%, -50%) translateX(0) rotate(7deg) scale(1);
    }
}

@keyframes rotate-card{
    0%{
        transform: translate(-50%, -50%) rotate(7deg);
    } 100%{
        transform: translate(-50%, -50%) rotate(0deg);
        z-index: 1;
    }
}

@keyframes rotate-card-signin{
    0%{
        transform: translate(-50%, -50%) rotate(7deg);
    } 100%{
        transform: translate(-50%, -50%) rotate(0deg);
        z-index: 1;
    }
}